<section class="space-y-4 p-4">
  <h2 class="text-lg font-semibold text-neutral-900 dark:text-neutral-100">
    Basic toolbar usage
  </h2>

  <%= render Pathogen::Toolbar.new(label: 'Sample actions') do %>
    <%= render Pathogen::Toolbar::Button.new do %>
      Edit
    <% end %>

    <%= render Pathogen::Toolbar::Button.new do %>
      Duplicate
    <% end %>

    <%= render Pathogen::Toolbar::Separator.new %>

    <%= render Pathogen::Toolbar::Button.new do %>
      Archive
    <% end %>
  <% end %>
</section>
