<!DOCTYPE html>

<% lookbook_theme = params.dig(:lookbook, :display, :theme).to_s == 'dark' ? 'dark' : 'light' %>

<html
  class="<%= 'dark' if lookbook_theme == 'dark' %>"
  data-theme="<%= lookbook_theme %>"
>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "pathogen_view_components" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="padding: 1rem;">
    <%= yield %>
  </body>
</html>
