<%= render Pathogen::ConditionalWrapper.new(
  condition: tooltip?,
  tag: :div,
  class: class_names(
    "inline-block" => !@block,
    "block w-full" => @block
  ),
  'data-controller': 'pathogen--tooltip',
  'data-pathogen--tooltip-portal-aria-label-value': Pathogen::Tooltip.portal_aria_label
) do %>
  <%= render @base_button_class.new(**@system_arguments) do -%>
    <% if leading_visual %>
      <span class="inline-flex shrink-0 items-center" aria-hidden="true"><%= leading_visual %></span>
    <% end %>

    <% if button_text.present? %>
      <span><%= button_text %></span>
    <% end %>

    <% if trailing_visual %>
      <span class="inline-flex shrink-0 items-center" aria-hidden="true"><%= trailing_visual %></span>
    <% end %>
  <% end -%>

  <%= tooltip if tooltip? %>
<% end %>
