<%= tag.section(**@system_arguments) do %>
  <ol
    id="<%= list_id %>"
    class="pvc-toaster__list flex w-full flex-col gap-2"
    aria-label="<%= region_label %>"
  >
    <%= content %>
  </ol>

  <div
    class="sr-only"
    data-pathogen--toaster-target="polite"
    role="status"
    aria-live="polite"
    aria-atomic="true"
  ></div>

  <div
    class="sr-only"
    data-pathogen--toaster-target="assertive"
    role="alert"
    aria-label="<%= @assertive_region_label %>"
    aria-live="assertive"
    aria-atomic="true"
  ></div>
<% end %>
