<%= tag.section(**@system_arguments) do %>
  <ol
    id="<%= list_id %>"
    class="flex w-full flex-col gap-2"
    data-pathogen--toaster-target="list"
    aria-label="<%= region_label %>"
    aria-live="polite"
    aria-relevant="additions text"
    aria-atomic="false"
  >
    <%= content %>
  </ol>

  <div
    class="sr-only"
    data-pathogen--toaster-target="assertive"
    role="alert"
    aria-label="<%= @assertive_region_label %>"
    aria-live="assertive"
    aria-atomic="true"
  ></div>
<% end %>
