<div class="flex flex-wrap items-center gap-2">
  <%= render Pathogen::Button.new(tone: :primary, emphasis: :solid, text: 'Save changes') %>
  <%= render Pathogen::Button.new(tone: :neutral, emphasis: :outline, text: 'Cancel') %>
  <%= render Pathogen::Button.new(tone: :neutral, emphasis: :ghost, text: 'Reset filters') %>
  <%= render Pathogen::Button.new(tone: :danger, emphasis: :outline, text: 'Delete sample') %>
  <%= render Pathogen::Button.new(tone: :danger, emphasis: :solid, text: 'Confirm delete') %>
</div>
